.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 500px;
  min-width: 300px; */
 
}

.fullNameOfUser {
  display: flex;
  padding: 10px;
  
}

.inp {
  display: flex;
  flex-grow: 1;
  margin: 10px;

}
.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
